<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203069812163-istq661ll8rvqqqb4a5uo7ieif13vp0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203069812163-istq661ll8rvqqqb4a5uo7ieif13vp0n</string>
	<key>API_KEY</key>
	<string>AIzaSyCNCNCM7wsBfRG2n1BUKtGiAChftdwTWL4</string>
	<key>GCM_SENDER_ID</key>
	<string>203069812163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.suraj.hamroFurniture</string>
	<key>PROJECT_ID</key>
	<string>furniture-app-e0a9b</string>
	<key>STORAGE_BUCKET</key>
	<string>furniture-app-e0a9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203069812163:ios:c5ea4ca4cc452fde3a2176</string>
</dict>
</plist>